/* ------------------------------------ *\
    #CONTAINER
\* ------------------------------------ */

// Container Width
$container-width:       1240px;

// Container left and right padding
$container-padding:       20px;


//
// An outer container for site content. A container should never be a child or
// instance of itself.
//
.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
